<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset = UTF-8">
    <title>新規投稿｜AREBA(アレバ)</title>

    <!-- BootStrapVue -->
    <!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" /> -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

    <!-- BootStrapVue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.js"></script>

    <!-- フォントオーサム -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<style>
    /* ---共通--- */
    .header {
        width: 720px;
    }

    .sideBarButton {
        width: 100%;
        text-align: left;
    }

    .space {
        height: 100px;
    }

    @media (min-width:721px) {
        .mainContents {
            width: 720px;
        }
    }

    @media (max-width:720px) {
        .mainContents {
            box-sizing: inherit;
        }
    }

    /* 独自 */
    .newPostTitle {
        font-family: sans-Noto Sans JP, sans-serif;
        margin: 32px 5px;
    }

    .newPostMessage {
        font-size: 24px;
        font-family: Noto Sans JP, sans-serif;
        text-align: center;
        margin: 32px 0;
    }
</style>

<body>

    <div id="app">
        <!-- ヘッダー -->
        <b-navbar type="dark" variant="dark">
            <div style="margin-left: auto;margin-right: auto;" class="header">
                <b-row>
                    <b-col>
                        <b-navbar-nav class="mr-auto">
                            <h1 style="color: beige;">AREBA</h1>
                        </b-navbar-nav>
                    </b-col>
                    <b-col cols="auto">
                        <template>
                            <div>
                                <b-button v-b-toggle.sidebar-right>≡</b-button>
                                <b-sidebar id="sidebar-right" right shadow>
                                    <div class="px-3 py-2">
                                        <b-button size="lg" variant="outline-primary" class="sideBarButton">
                                            <div class="fas fa-question-circle"></div>
                                            　AREBAってなに？
                                        </b-button>
                                        <b-button size="lg" variant="outline-primary" class="sideBarButton">
                                            <div class="fas fa-home"></div>
                                            　HOME
                                        </b-button>
                                        <b-button size="lg" variant="outline-primary" class="sideBarButton">
                                            <div class="fas fa-bell"></div>
                                            　最新の投稿
                                        </b-button>
                                        <b-button size="lg" variant="outline-primary" class="sideBarButton">
                                            <div class="fas fa-search"></div>
                                            　投稿検索
                                        </b-button>
                                        <b-button size="lg" variant="outline-primary" class="sideBarButton">
                                            <div class="far fa-star"></div>
                                            　人気投稿
                                        </b-button>
                                    </div>
                                </b-sidebar>
                            </div>
                        </template>
                    </b-col>
                </b-row>
            </div>
        </b-navbar>

        <div style="margin-left: auto; margin-right: auto;" class="mainContents">
            <section class="space"></section>
            <h1 class="newPostTitle">新規投稿</h1>
            <p class="newPostMessage">
                こちらのページで新規投稿ができます。<br>
                あなたの考える「あれば良いな」を投稿お願いします。
            </p>

            <b-row style=" padding: 0 11px;">
                <b-col style="padding: 0;">
                    <b-card class="text-center">
                        <template>
                            <div>
                                <b-form @submit="onSubmit" @reset="onReset">
                                    <b-form-group class="mb-3" id="input-group-1" label="お名前：" label-for="input-1"
                                        description="記事に表示されるお名前となります。名前の表示を希望しない場合は空欄でOKです。">
                                        <b-form-input id="input-1" v-model="form.name"
                                            placeholder="お名前を入力してください。空欄でもOKです。"></b-form-input>
                                    </b-form-group>

                                    <b-form-group class="mb-3" id="input-group-2" label="タイトル：" label-for="input-2">
                                        <b-form-input id="input-2" v-model="form.title" placeholder="タイトルを入力してください"
                                            required></b-form-input>
                                    </b-form-group>

                                    <b-form-group class="mb-3" id="input-group-3" label="本文：" label-for="input-3">
                                        <b-form-textarea rows='8' id="input-3" v-model="form.contents"
                                            placeholder="本文を入力してください" required>
                                            </b-form-input>
                                    </b-form-group>

                                    <b-form-group class="mb-3" id="input-group-4" label="ジャンル：" label-for="input-4"
                                        size="lg">
                                        <b-form-select id="input-4" v-model="form.genre" :options="genres" required>
                                        </b-form-select>
                                    </b-form-group>

                                    <p>
                                        参考画像の添付ができます。<br>
                                        画像を添付する場合、以下で添付をお願いします。<br>
                                        画像は最大４枚まで添付することができます。<br>
                                    </p>

                                    <b-form-file class="mb-3" v-model="form.file1" :state="Boolean(form.file1)"
                                        placeholder="画像を選択、またはドロップできます" drop-placeholder="ドロップする"></b-form-file>
                                    <b-form-file class="mb-3" v-model="form.file2" :state="Boolean(form.file2)"
                                        placeholder="画像を選択、またはドロップできます" drop-placeholder="ドロップする"></b-form-file>
                                    <b-form-file class="mb-3" v-model="form.file3" :state="Boolean(form.file3)"
                                        placeholder="画像を選択、またはドロップできます" drop-placeholder="ドロップする"></b-form-file>
                                    <b-form-file class="mb-3" v-model="form.file4" :state="Boolean(form.file4)"
                                        placeholder="画像を選択、またはドロップできます" drop-placeholder="ドロップする"></b-form-file>

                                    <b-button type="submit" variant="primary">Submit</b-button>
                                    <b-button type="reset" variant="danger">Reset</b-button>
                                </b-form>

                                <b-card class="mt-3" header="Form Data Result">
                                    <pre class="m-0">{{ form }}</pre>
                                </b-card>

                            </div>
                        </template>
                    </b-card>
                </b-col>
            </b-row>

        </div>
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                form: {
                    name: '',
                    title: '',
                    contents: '',
                    genre: null,
                    file1: null,
                    file2: null,
                    file3: null,
                    file4: null,
                },
                genres: [
                    { text: '選択してください', value: null },
                    { text: '道具', value: "tool" },
                    { text: '出来事', value: 'event' },
                    { text: 'システム', value: 'system' },
                    { text: '遊び', value: 'amusement' },
                    { text: 'サービス', value: 'service' },
                    { text: 'その他', value: 'others' },
                ],
                show: true,

            },
            methods: {
                onSubmit(event) {
                    event.preventDefault()
                    alert(JSON.stringify(this.form))
                },
                onReset(event) {
                    event.preventDefault()
                    // Reset our form values
                    this.form.name = '';
                    this.form.title = '';
                    this.form.contents = '';
                    this.form.genre = null;
                    // Trick to reset/clear native browser form validation state
                    this.show = false;
                    this.$nextTick(() => {
                        this.show = true;
                    })
                }
            }
        })
    </script>

</body>

</html>